* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #f1f2f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 320px;
    background: #222;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#display {
    width: 100%;
    height: 60px;
    font-size: 28px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    text-align: right;
    background: #333;
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    padding: 18px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #444;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #555;
}

.operator {
    background: #ff9f1a;
}

.operator:hover {
    background: #ffb84d;
}

.equal {
    background: #1abc9c;
    grid-row: span 2;
}

.equal:hover {
    background: #48d1b1;
}

.clear {
    background: #e74c3c;
}

.clear:hover {
    background: #ff6b5a;
}

.delete {
    background: #3498db;
}

.delete:hover {
    background: #5faee3;
}

.zero {
    grid-column: span 2;
}
